/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

@font-face {
    font-family: 'codec_proregular';
    src: url('../../assets/fonts/codec-pro-regular-webfont.woff2') format('woff2'),
         url('../../assets/fonts/codec-pro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	font-display: block;
}

@font-face {
    font-family: 'codec_proheavy';
    src: url('../../assets/fonts/codecpro-heavy-webfont.woff2') format('woff2'),
         url('../../assets/fonts/codecpro-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	font-display: block;
}

@font-face {
    font-family: 'codec_profat_italic';
    src: url('../../assets/fonts/codecpro-fatitalic-webfont.woff2') format('woff2'),
         url('../../assets/fonts/codecpro-fatitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	font-display: block;
}

body {
  font-family: 'codec_proregular';
  color:#000000;
}

a {
  color: #5fcf80;
}

a:hover {
  color: #86db9f;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Define custom container width
--------------------------------------------------------------*/

@media (min-width: 1200px) {
.container {
  max-width: 1200px;
}
}

/*--------------------------------------------------------------
# Change selection color
--------------------------------------------------------------*/

::-moz-selection { /* Code for Firefox */
  color: #ffffff;
  background: #FF3344;
}

::selection {
  color: #ffffff;
  background: #FF3344;
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/

.about p {
    margin: 0;
    font-size: 19px;
    line-height: 23px;
    letter-spacing: 0.26px;
}

.about {
    padding: 53px 0px;
}

/*--------------------------------------------------------------
# Counter Section
--------------------------------------------------------------*/

#counts span {
    font-family: codec_profat_italic;
    font-size: 72px;
    color: #FF3344;
    letter-spacing: .98px;
    line-height: 63px;
    display: inline-block;
	position: relative;
    top: 7px;
    right: 10px;
}

#counts h2 {
    font-size: 50px;
    font-family: codec_proheavy;
    line-height: 63px;
    margin: 0;
}

section#counts {
    padding-bottom: 47px;
}

/*--------------------------------------------------------------
# Card Layout Section
--------------------------------------------------------------*/

.genre-title h3.content-title {
    color: #FFFFFF;
    font-size: 36px;
    letter-spacing: 0.49px;
    line-height: 34px;
    font-family: codec_profat_italic;
    margin: 0;
}

.genre-card {
    position: relative;
	padding-bottom: 30px;
}

.meta-center-desc {
    position: absolute;
    bottom: 45px;
    left: 15px;
	-webkit-transition: all .3s;
    transition: all .3s;
    -webkit-timing-function: ease-in-out;
    timing-function: ease-in-out;
}

.card-layout {
    padding-top: 73px;
}

.genre-card:hover .meta-center-desc {
    bottom: 60px;
}

/*--------------------------------------------------------------
# Single Job
--------------------------------------------------------------*/

.top-title {
    background: #FF3344;
    padding-top: 157px;
    padding-bottom: 124px;
}

.top-title svg {
    width: 252px;
    height: auto;
}

.top-title h1 {
    font-size: 80px;
    font-family: codec_profat_italic;
    color: #fff;
    line-height: 80px;
    letter-spacing: 1.15px;
    padding-top: 8px;
}

.top-title h4 {
    color: #fff;
    line-height: 22px;
    font-size: 21px;
    letter-spacing: 0.28px;
    margin: 0;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: #FF3344;
  color: #fff;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: #3ac162;
  color: #fff;
}

/*--------------------------------------------------------------
# Footer CSS
--------------------------------------------------------------*/
.no-container {    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.footer-top {
    background: #000000;
    padding-top: 47px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

#footer h4 {
    font-size: 15px;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 15px;
    letter-spacing: 0.93px;
    font-family: codec_profat_italic;
    padding-bottom: 15px;
}

.footer-top ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: .16px;
}

.footer-top ul li a {
    color: #D0D0D0;
}

.first-me {
    padding-bottom: 15px;
}

.footer-top ul li:hover a {
    opacity: .8;
    transition: all ease .5s;
}

.footer-bottom .col-lg-9 {
    border-bottom: 1px solid #2C2C2C;
}

.cookie-setting a {
    color: #D0D0D0;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.16px;
    position: absolute;
    bottom: -4px;
}

.cookie-setting {
    vertical-align: bottom;
}

.footer-bottom .col-lg-2:first-child:before {content: '';background: #2C2C2C;height: 1px;width: 50px;position: absolute;bottom: 0;right: 0;}

.copyright {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.copyright span {
    color: #6B6B6B;
}

.copyright .col-lg-6:last-child {
    text-align: right;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #FF3344;
  transition: all 0.5s;
  z-index: 997;
  padding: 6px 40px;
}

#header .logo img {
  max-height: 40px;
}

@media (max-width: 992px) {
  #header .logo {
    font-size: 28px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 38px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #ffffff;
  transition: 0.3s;
  font-size: 15px;
  font-family:codec_proheavy;
  letter-spacing:0.2px;
}

.nav-menu li.active a > span:after {content: '';background: #FFD96B;width: 100%;height: 6px;position: absolute;left: 0;bottom: -16px;}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 24px;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #37423b;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #5fcf80;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

.social-top img {
    height: 18px;
}

.social-top a:nth-child(1), .social-top a:nth-child(2), .social-top a:nth-child(3) {
    padding-right: 30px;
}

.social-top {
    padding-left: 54px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/*--------------------------------------------------------------
# Call to Action
--------------------------------------------------------------*/

.cta-bottom {
    background: #FF3344;
    padding-top: 147px;
    padding-bottom: 68px;
	position:relative;
}

.cta-bottom h2 {
    font-size: 70px;
    line-height: 57px;
    font-family: codec_profat_italic;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.95px;
    padding-bottom: 7px;
}

.cta-bottom h3 {
    font-size: 25px;
    line-height: 23px;
    letter-spacing: .34px;
    color: #fff;
    font-family: codec_proheavy;
    padding-bottom: 7px;
}

.cta-bottom p {
    font-size: 19px;
    color: #fff;
    line-height: 23px;
    letter-spacing: .23px;
    padding-bottom: 30px;
}

.cta-bottom a {
    font-family: codec_proheavy;
    font-size: 19px;
    color: #FF3344;
    background: #FFD96B;
    border-radius: 26.5px;
    padding: 17px 44px;
}

.cta-bottom img.img-fluid {
    position: absolute;
    width: 120px;
    top: -75px;
    left: 45%;
}

img.stroke-path4 {
    left: 0;
    position: absolute;
}

img.stroke-path3 {
    position: absolute;
    right: 0;
}

img.stroke-path1 {
    position: absolute;
    right: 200px;
}

img.stroke-path2 {
    position: absolute;
    left: 100px;
    bottom: 100px;
}

img.stroke-path5 {
    position: absolute;
    left: 200px;
    top: 200px;
    width: 24px;
}

/*--------------------------------------------------------------
# Career Category
--------------------------------------------------------------*/

.bind-search {
    border-radius: 50px;
    background: #ffffff;
    height: 73px;
    line-height: 73px;
    padding-left: 32px;
    padding-right: 32px;
    box-shadow: 0px 12px 24px 0px rgba(0,0,0,0.15);
}

.search-div {
    background: transparent;
    margin-top: -36.5px;
    padding-bottom: 50px;
    z-index: 9;
    position: relative;
}

.search-div:before {
    content: '';
    background: #f3f3f3;
    width: 100%;
    height: 100px;
    position: absolute;
    top: 36.5px;
}

.bind-search input.search-field {
    width: 100%;
    border: 0;
    position: absolute;
    color: #000000;
    font-size: 30px;
    letter-spacing: 0.41px;
    line-height: 31px;
    opacity: .5;
    outline: none;
    height: 73px;
}

.bind-search svg.bi.bi-search {
    transform: rotate(80deg);
    width: 32px;
    margin-right: 15px;
}

.bind-search button#dropdownMenuButton {
    background: transparent;
    border: 0;
    font-size: 30px;
    color: #000000;
    padding: 0;
    width: 100%;
    text-align: left;
    outline: none;
    box-shadow: none;
}

.bind-search .dropdown {
    padding-left: 35px;
    border-left: 1px solid #BEBEBE;
    position: relative;
}

.bind-search .dropdown-toggle::after {visibility: hidden;}

.bind-search .dropdown:after {
    content: "";
    border-top: 14px solid;
    border-right: 14px solid transparent;
    border-bottom: 0;
    border-left: 14px solid transparent;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    transition: all ease .5s;
    }

.bind-search .dropdown.show:after {
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 14px solid black;
    border-top: 0;
    transition: all ease .5s;
}

.bind-search .dropdown-menu.show {
    transform: translate3d(0px, 105px, 0px) !important;
    width: 100%;
    border: 0px;
    box-shadow: 0px 12px 24px 0px rgba(0,0,0,0.19);
    border-radius: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.bind-search .dropdown-menu a {
    line-height: 30px;
    font-size: 17px;
    color: #000000;
    letter-spacing: 0.23px;
}

.bind-search .dropdown-menu a:hover {
    background: #f3f3f3;
}

.bind-search .dropdown-menu.show:before {
	content: '';
	border-left: 18px solid transparent;
	border-right: 18px solid transparent;
	border-bottom: 18px solid white;
	border-top: 0;
	transition: all ease .5s;
	top: -17px;
	position: absolute;
	right: 30px;
}

/*--------------------------------------------------------------
# Job Opening
--------------------------------------------------------------*/

.open-jobs {
    background: #F3F3F3;
    padding-top: 21px;
	padding-bottom: 64px;
}

.open-jobs .col-lg-12 > h2 {
    font-size: 30px;
    line-height: 31px;
    color: #000000;
    opacity: .4;
    margin: 0;
    text-align: center;
    padding-bottom: 54px;
}

.job-wrap .card {
    height: 96px;
    border: 0px;
    border-radius: 50px;
    line-height: 96px;
    padding: 0px 38px;
}

.job-wrap a {
    color: #000000;
    font-size: 29px;
    text-decoration: none;
    letter-spacing: 0.39px;
}

.align-right {
    float: right;
}

span.job-location {
    font-size: 19px;
    color: #000;
    letter-spacing: 0.26px;
    padding-right: 100px;
}

.card .bi-chevron-right { 
    background: #FF3344;
    width: 41px;
    height: 41px;
    padding: 10px;
    border-radius: 50px;
    color: #fff;
}

.job-wrap .card {
    margin-bottom: 15px;
    border: 0;
    border-radius: 50px;
}

.job-desc {
    padding-top: 105px;
}

.job-desc h2 {
    font-size: 36px;
    letter-spacing: 0.49px;
    line-height: 36px;
    font-family: codec_proheavy;
    margin: 0;
}

.job-details ul {
    margin: 0;
    list-style: none;
    padding-top: 28px;
}

.job-details ul li {
    font-size: 17px;
    letter-spacing: 0.23px;
    line-height: 23px;
    padding-bottom: 20px;
    position: relative;
}

h2.top-req {
    padding-top: 50px;
}

.job-desc .col-lg-7 h3 {
    font-family: codec_proheavy;
    font-size: 17px;
    line-height: 23px;
    letter-spacing: 0.23px;
}

.job-details {
    padding: 0px 55px;
}

.job-details ul li:before {content: '';background-image: url(../../assets/img/color-path.svg);position: absolute;width: 13px;height: 13px;background-size: contain;background-repeat: no-repeat;left: -40px;top: 7px;}

.trigger-video {
    position: relative;
}

.trigger-video .btn-primary {
    position: absolute;
    border: 0;
    background: rgba(0,0,0,0.3);
    border-radius: 50px;
    padding: 0;
    width: 61px;
    height: 61px;
    right: 140px;
    bottom: 40px;
    outline: none;
}

.trigger-video svg.bi.bi-play-fill {
    color: #242424;
    width: 28.68px;
    height: 28.68px;
}

.trigger-video .btn-primary:focus, .trigger-video .btn-primary:active {
    box-shadow: none;
    background-color: rgba(0,0,0,0.3) !important;
    border: none;
}

.apply-job {
    padding-top: 151px;
}

.email-us {
    padding-top: 67px;
    padding-left: 75px;
    padding-right: 75px;
}

.email-us label:not(.custom-file-label) {
    font-size: 19px;
    color: #767676;
    line-height: 23px;
    letter-spacing: 0.26px;
    margin-bottom: 3px;
    float: left;
}

.email-us .form-control {
    border: 2px solid #D1D1D1;
    border-radius: 50px;
    height: 48px;
    outline: none;
}

.email-us .form-row {
    padding-bottom: 20px;
}

.email-us .custom-file {
    border: 2px solid #D1D1D1;
    border-radius: 50px;
    height: 48px;
    outline: none;
}

.email-us .custom-file label {
    float: right;
    width: 100%;
    height: 48px;
    margin: 0;
    position: absolute;
    right: 0;
}

.email-us .custom-file label span {
    position: absolute;
    right: 20px;
    top: 12px;
    color: #FF3344;
    font-weight: 900;
}

.job-form p {
    font-size: 10px;
    letter-spacing: 0.14px;
    margin: 0;
    line-height: 23px;
}

.job-form p a {
    color: rgb(0, 0, 0);
    border-bottom: 1px solid;
    display: inline-block;
    line-height: 14px;
}

.apply-job h6 {
    font-size: 10px;
    padding-top: 30px;
}

.apply-job h6 svg {
    width: 55px;
    height: auto;
}

.email-us [type="submit"] {
    clear: both;
    display: inline-block;
    background: #FF3344;
    border: 0px;
    outline: none;
    color: #fff;
    font-size: 19px;
    line-height: 19px;
    letter-spacing: 0.26px;
    font-family: codec_proheavy;
    padding: 17px 31px;
    border-radius: 26.5px;
    margin-top: 55px;
}

.email-us .text-center a {
    display: inline-block;
    font-size: 19px;
    line-height: 19px;
    letter-spacing: 0.26px;
    font-family: codec_proheavy;
    color: #FFD96B;
    border-bottom: 3px solid #FBEB75;
}

.emp-corner {
    padding-top: 40px;
    padding-bottom: 20px;
}

.job-form .social-links {
    padding-top: 40px;
    padding-bottom: 80px;
}

.job-form .social-links a {
    width: 31px;
    height: 31px;
    display: inline-block;
    background: #000;
    color: #fff;
    line-height: 36px;
    border-radius: 50px;
    margin-right: 50px;
}

.social-links span {
    font-size: 15px;
    line-height: 19px;
    display: inline-block;
    margin-right: 50px;
}

.job-form .social-links a:last-child {
    margin-right: 0;
}

.social-links svg {
    height: 16px;
    position: relative;
    top: -3px;
}

section#thank-you {
    background: #FF3344;
    padding-top: 193px;
    padding-bottom: 130px;
}

.th-meta h3 {
    color: #fff;
    font-size: 33px;
    line-height: 40px;
    padding-top: 20px;
}

.th-meta a {
    clear: both;
    display: inline-block;
    background: #FFD96B;
    border: 0px;
    outline: none;
    color: #FF3344;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.27px;
    font-family: codec_proheavy;
    padding: 15px 33px;
    border-radius: 26.5px;
    margin-top: 20px;
}

/*--------------------------------------------------------------
# Mobile Navigation
--------------------------------------------------------------*/

.mobile-nav-toggle {
  position: fixed;
  top: 17px;
  right: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #37423b;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #37423b;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #5fcf80;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(32, 38, 34, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}